.App {
  text-align: center;
  background-color: #e5e5f700;
  background-image: radial-gradient(#42424235 0.8px, transparent 0.8px),
    radial-gradient(#42424235 0.8px, #e5e5f700 0.8px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  height: 100vh;
  padding:0 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
